{% extends 'index2.html' %}

{% block content %}
  <h2>Login</h2>
  <form method="post" action="{% url 'login' %}" class="form">
    {% csrf_token %}
    <div class="form-group">
      <label for="username">Имя пользователя:</label>
      <input type="text" id="username" name="username" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Пароль:</label>
      <input type="password" id="password" name="password" class="form-control">
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <button type="submit" class="btn btn-primary mt-3">Login</button>
      <span>No account? <a href="{% url 'registration' %}">Register now </a></span>
    </div>
  </form>
{% endblock content %}
